<html ng-app="smartTender">
<head>
	<title>Currency Super Tenderizer</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab	/bootstrap.min.css">
</head>
<body ng-controller="smartTenderController">
	<div class="container">
		<div class="row">

			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<div class="page-header">
					<h1>The Amazing Cash Tender Calculator</hi>
					</div>

					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="tenderAmound" class="control-label">Tender Amount:</label>
							<input ng-model="total" type="text" class="form-control" id="tenderAmount" placeholder="4.99" width="12">
						</div>
						<button class="btn btn-primary" type="submit" ng-click="generateTypes()">Generate Tender Types</button>
						<div class="btn-group" role="group" aria-label="Quick Tender">
							<button ng-repeat="result in results" type="button" class="btn btn-default"> {{result | currency}} </button>
						</div>
					</form>


					<div class="col-sm-2">
					</div>
				</div>
			</div>
		</div>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script>
		var st = angular.module('smartTender',[]);
		st.controller('smartTenderController', function($scope)
		{
			//display values
			$scope.total;
			$scope.results = [5,10,20];
			//This is the denominations of currencies to check (it will work with decimals)
			$scope.currency = [1,5,10,20,0.25,0.1,0.05,50,100]
			$scope.generateTypes = function()
			{
				var tempResults = [];
				//Make sure the total is a number
				var total = parseFloat($scope.total);
				var currency = $scope.currency;
				currency.forEach(function(boo)
				{
					//Get the remainder when dividing by the currency amount
					var remainder = (total % boo);
					//Round up to the next currency amount if there is a remainder
					var newValue = remainder > 0 ? total + (boo-remainder) : total;
					//Add the vew value if it's not already in the results
					if(tempResults.indexOf(newValue) == -1 && tempResults.length < 6)
					{
						tempResults.push(newValue);
					}
				})
				//Return the results sorted numerically
				$scope.results = tempResults.sort(function(a, b){return a-b});
			}
		});
		</script>

	</body>
	</html>